
$colors: (
    primary: rgb(143, 233, 203),
    secondary: rgb(107, 70, 28),
    accent: rgb(224, 224, 165),
    secondary-light: lighten(rgb(107, 70, 28), 40%),
    secondary-dark: darken(rgb(107, 70, 28), 40%),

);
$padding: 15px;
$borders: 15px;

@function color($color-name){
    @return map-get($colors, $color-name)
};

body, html {
    height: 100%;
}
 
body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin: 0;

    #bg {
        clip-path: polygon(100% 0, 100% 59%, 33% 100%, 0 100%, 0 0);        
        // background-color: map-get($colors, primary);
        background-color: color(secondary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    } 
    header a{
        padding: $padding;
        text-decoration: none;
        font-size: 1.5em;
        color: color(primary);
        display: block;
    }
}

main {
    section#card {
        background: white;
        padding: 3px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
        width: 80%;

        ul {
            margin: 3px;
            padding: 0px;
            list-style-type: none;

            li {
                padding: 3px;
                font-size: 0.8em;
                margin-bottom: 10px;

                span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: color(secondary-light);
                    border-radius: 50%;
                    margin-right: 10px;
                    
                }
                strong {
                    display: inline-block;
                    margin-left: max(20px);
                }
            }
        }

    }

    section#primary {
        color: white;
        padding: $padding;
        text-align: center;

        h1 {
            font-size: 2.23em;
            text-transform: uppercase;
        }
        p {
            font-size: 1.4em;
            margin-bottom: 50px;
        }
        a {
            color: color(secondary-dark);
            font-size: 1.2em;
            text-decoration: none;
            background-color: color(accent);
            margin: 50px auto 0 auto;
            display: block;
            padding: $padding;
            text-transform: uppercase;
            border: 0px solid rgb(90, 75, 6);
            border-radius: 15px;
            -moz-box-shadow:    inset 0 0 2px #000000;
            -webkit-box-shadow: inset 0 0 2px #000000;
            box-shadow:         inset 0 0 4px #967953;

        }
    }
}